.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form {
  margin: 90px;
}
.ul{
  margin: 50px;
}
.page-footer{
  color: whitesmoke;
  margin-top: 57px;
}
.navbar{
  color: white !important;
}
.navbar-light .navbar-nav .nav-link{
  color: white !important;
}
.navbar .navbar-brand{
  color: white;
}
.a{
  color: white;
}
.footer-copyright{
  color: darkgray;
}
.form-inline{
  margin-left: 40px;
}
.btn-hhh{
  margin: 90px;
  margin-bottom: 50px;
}
.counter{
  margin: 90px;
}
.hiha{
  margin: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
